<main th:fragment="about" class="about">
    <div class="container-fluid m-0 h-100" style="min-height: calc(100vh - 20rem)">

        <div class="about__content container-fluid p-0">
            <div class="content__body text-start  d-flex justify-content-between  mx-5  flex-column mb-5 mt-5">
                <div class="header ">
                    <h3>About us</h3>
                </div>
                <ul class="p-4 content__description">
                    <li>Established in June 2023, SEESAW is a contemporary eye wear brand with products designed in Ho
                        Chi Minh,
                        Vietnam.
                    </li>
                    <li>Positioned as a frame product design studio, we focus on researching new shapes and structures
                        in frame
                        products, taking ideas from industrial products and from the raw nature of the material itself.
                        Cellulose Acetate. The product is meticulously cared for by the hands of skilled artisans with
                        many
                        years of experience in crafting, with the highest quality materials and dual quality control
                        processes,
                        resulting in a frame product that can wear. with you for many years.
                    </li>
                </ul>

                <div class="m-0 p-0">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.023456387914!2d106.69719467540797!3d10.73267415999846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b2747a81a3%3A0x33c1813055acb613!2sTon%20Duc%20Thang%20University!5e0!3m2!1sen!2s!4v1689842947278!5m2!1sen!2s"
                            class="w-100"  style="border:0; aspect-ratio: 3/2;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</main>