<main th:fragment="contact" class="contact">
    <div class="container-fluid m-0 h-100" style="min-height: calc(100vh - 20rem); font-family: 'Roboto', sans-serif">
        <div class="contact__content container-fluid p-0">
            <div class="content__body text-start  d-flex justify-content-between  mx-5 align-items-center flex-column mb-5 mt-5">
                <div class="header">
                    <h3>Contact</h3>
                </div>
                <div class="p-2 mt-5 ps-5 pe-5 d-flex justify-content-center align-items-center flex-column"
                     style="border: 5px solid rgba(168,167,167,0.74); background-color: white; width: 50%;">
                    <small class="text-muted mb-3 mt-2">
                        For enquiries, please contact us at our Email Address below
                    </small>
                    <h5 class="fw-bold h5">
                        info.seesaw@gmail.com
                    </h5>
                </div>
            </div>
        </div>
    </div>
</main>
