<main th:fragment="forgotpassword" class="forgotpassword">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center m-5">
            <div class="offset-3"></div>

            <div class="d-flex justify-content-center text-center flex-column col-6">
                <div class="title h4 text-uppercase pb-3">Reset Your Password</div>
                <form action="/" class="form d-flex flex-column" id="formEmailForgotPass" style="display: block">
                    <div class="input-group pb-3">
                        <input type="email" name="email" class="form-control border-1 rounded-0" id="emailForgotPass"
                               placeholder="Email" style="min-height: 3rem">
                    </div>
                    <div>
                        <button type="submit" class="btn text-uppercase p-3 px-5 text-dark border-0 rounded-0"
                                style="background-color: #E3C5B8">Send
                        </button>
                    </div>
                </form>

                <form action="/" class="form d-flex flex-column d-none" id="formVerifyCode">
                    <div class="input-group pb-3">
                        <input type="text" name="code" class="form-control border-1 rounded-0" id="code"
                               placeholder="Code" style="min-height: 3rem">
                    </div>
                    <div>
                        <button type="submit" class="btn text-uppercase p-3 px-5 text-dark border-0 rounded-0"
                                style="background-color: #E3C5B8">Verify
                        </button>
                    </div>
                </form>

                <form action="/" class="form d-flex flex-column d-none" id="formForgotPass">
                    <div class="input-group pb-3">
                        <input type="password" name="password" class="form-control border-1 rounded-0" id="password"
                               placeholder="Password" style="min-height: 3rem">
                    </div>
                    <div class="input-group pb-3">
                        <input type="password" name="confirmpassword" class="form-control border-1 rounded-0"
                               id="confirmPassword"
                               placeholder="Confirm Password" style="min-height: 3rem">
                    </div>


                    <div>
                        <button type="submit" class="btn text-uppercase p-3 px-5 text-dark border-0 rounded-0"
                                style="background-color: #E3C5B8">Submit
                        </button>
                    </div>
                </form>

                    <span class="error pt-3 text-danger d-none"></span>

                <div class="actions d-flex justify-content-center align-items-center pt-4 gap-2">
                    <a class="text-dark" th:href="@{login}">Cancel</a>
                </div>
            </div>
        </div>
        <div class="offset-3"></div>
    </div>
</main>