<footer th:fragment="footer" class="footer position-absolute" th:style="'bottom: ' + ${bottom}">
    <div class="line"></div>

    <!-- Section: Links  -->
    <section class="">
        <div class="container mx-6 mt-5">
            <!-- Grid row -->
            <div class="footer__content row mt-3">
                <!-- Grid column -->
                <div class="footer__content__input col-md-4 col-sm-10 col-10">
                    <!--                    <img-->
                    <!--                            th:src="@{/images/productImage.jpg}"-->
                    <!--                            class="w-75"-->
                    <!--                    />-->
                    <div class="h2 pt-2">
                        Sign up for our newsletter
                    </div>
                    <div class="pb-2" style="font-size: 0.8rem;">
                        Be the first to know about our special offers, news, and updates.
                    </div>
                    <div class="d-flex flex-column mt-3" style="border: 1px solid gray">
                        <form class="d-flex justify-content-center input-group" action="/" method="POST" id="formEmailCheckUser">
                            <input type="email" id="email" class="form-control border-0"
                                   style="border-radius: 0; background-color: transparent" placeholder="Email Address"/>
                            <input type="submit" class="btn fw-bold" style="border-radius: 0" value="Sign Up">
                        </form>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="footer__content__infomation col-8">
                    <div class="row mt-md-0 mt-2">
                        <!-- Grid column -->
                        <div class="footer__links col-md-2 col-md-2 col-sm-2 col-6 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="fw-bold mb-4">
                                Links
                            </h6>
                            <p>
                                <a th:href="@{/}" class="footer__links text-reset text-decoration-none">Home</a>
                            </p>
                            <p>
                                <a th:href="@{/products}" class="footer__links text-reset text-decoration-none">Store</a>
                            </p>
                            <p>
                                <a th:href="@{/about}" class="footer__links text-reset text-decoration-none">About</a>
                            </p>
                            <p>
                                <a th:href="@{/contact}"
                                   class="footer__links text-reset text-decoration-none">Contact</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="footer__links col-md-2 col-md-2 col-sm-2 col-6 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="fw-bold mb-4">
                                Categories
                            </h6>
                            <p>
                                <a href="/products?type=422ebae2-8de9-4692-93ad-5f5c7c10fa81" class="text-reset text-decoration-none">Frames</a>
                            </p>
                            <p>
                                <a href="/products?type=6856b3fb-372d-4b06-a901-1e7d5718e80e" class="text-reset text-decoration-none">Sunglasses</a>
                            </p>
                            <p>
                                <a href="/products?type=84dfba28-719e-4fe5-a345-b671be6c0128" class="text-reset text-decoration-none">Accessories</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="footer__links col-md-2 col-md-2 col-sm-2 col-6 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="fw-bold mb-4">Social</h6>
                            <p>
                                <a href="https://www.facebook.com/" target="_blank" class="text-reset text-decoration-none">Facebook</a>
                            </p>
                            <p>
                                <a href="https://www.instagram.com/" target="_blank" class="text-reset text-decoration-none">Instagram</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="footer__copyright text-center p-4 mt-5">
        © 2023 COPYRIGHTS SEESAW
    </div>
    <!-- Copyright -->
    <th:block th:insert="~{fragments/scripts/scripts :: scripts}"/>
    <script th:src="@{/js/auth/checkMail.js}"></script>
</footer>
