<nav th:fragment="header" class="sticky-top navbar navbar-expand-lg navbar-light bg-light justify-content-between px-5 py-3">
    <div class="header__logo">
        <img th:src="@{/images/logo.png}" alt=""/>
    </div>
    <div class="header__menu">
        <ul class="navbar-nav flex-row me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/rooms}">Rooms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/about}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/contact}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/feedback}">Send Feedback</a>
            </li>
        </ul>
    </div>
    <div class="header__icons">
        <ul class="navbar-nav d-flex flex-row">
            <!-- Icons -->
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" th:href="@{/search}">
                    <i class="bi bi-search"></i>
                </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link check-auth" style="cursor: pointer">
                    <i class="bi bi-cart2"></i>
                </a>
            </li>
            <li class="nav-item me-3 me-lg-0 dropdown">
                <a class="nav-link dropdown dropdown-profile position-relative check-token" href="#" data-bs-toggle="dropdown" aria-expanded="false" type="button" data-bs-target="#dropdownUser">
                    <i class="bi bi-person"></i>
                </a>
                <ul class="dropdown-menu position-absolute ul-display d-none" style="left: -5rem; min-width: 8rem;" id="dropdownUser">
                    <li class="dropdown-item">
                        <a th:href="@{/user/update}" class="dropdown-link text-decoration-none text-dark" id="btn-check">Edit</a>
                    </li>
                    <li class="dropdown-item">
                        <a th:href="@{/order}" class="dropdown-link text-decoration-none text-dark" id="check-order">Your order
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#" class="dropdown-link btn-person text-decoration-none text-dark">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <th:block th:insert="~{fragments/scripts/scripts :: scripts}"/>
    <script th:src="@{/js/util/header.js}"></script>
</nav>