<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:insert="~{/fragments/heading/heading :: heading(title='Booking Rooms')}"/>
    <th:block th:switch="${step}">
        <th:block th:case="2">
            <link rel="stylesheet"
                  href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/css/intlTelInput.css"/>
            <link rel="stylesheet" th:href="@{/css/user/booking-review.css}">
        </th:block>
    </th:block>
    <body>
        <div class="container-fluid position-relative m-0 p-0">
            <th:block th:insert="~{fragments/util/header :: header}"/>
            <th:block th:insert="~{fragments/user/booking :: bookingHeader}"/>
            <div th:switch="${step}" class="booking-steps">

                <th:block th:case="1">
                    <th:block th:replace="~{fragments/user/category-available :: categoryList}"/>
                </th:block>

                <th:block th:case="2">
                    <th:block th:replace="~{fragments/user/booking-review :: review}"/>
                </th:block>

            </div>
        </div>
        <th:block th:insert="~{fragments/util/footer :: footer}"/>
        <th:block th:insert="~{fragments/scripts/scripts :: scripts}"/>
        <th:block th:switch="${step}">
            <th:block th:case="2">
                <script th:src="@{/js/user/booking-review.js}"></script>
                <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/intlTelInput.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/utils.js"></script>
            </th:block>
        </th:block>
        <script th:src="@{/js/user/booking.js}"></script>
    </body>
</html>