@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

:root {
    --black: 0, 0, 0;
    --white: 255, 255, 255;
    --highlight: 227, 197, 184;
    --bg-primary: 239, 242, 246;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;

    background-color: rgba(var(--bg-primary), 1);
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
html:focus-within {
    scroll-behavior: smooth;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
