<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <th:block th:insert="~{/fragments/heading/heading :: heading(title='Home')}"/>
    <link rel="stylesheet" th:href="@{/css/home/hero.css}">
    <link rel="stylesheet" th:href="@{/css/home/why-us.css}">
    <link rel="stylesheet" th:href="@{/css/home/partners.css}">
    <link rel="stylesheet" th:href="@{/css/home/top-booking.css}">
    <link rel="stylesheet" th:href="@{/css/home/feedbacks.css}">
    <link rel="stylesheet" th:href="@{/css/home/news.css}">
    <body>
        <div>
            <th:block th:replace="~{/fragments/util/header :: header}"/>
        </div>
        <main>
            <th:block th:insert="~{fragments/home/hero :: hero}"/>
            <th:block th:insert="~{fragments/home/why-us :: whyUs}"/>
            <th:block th:insert="~{fragments/home/partners :: partners}"/>
            <th:block th:insert="~{fragments/home/top-bookings :: top-bookings}"/>
            <th:block th:insert="~{fragments/home/feedbacks :: feedbacks}"/>
            <th:block th:insert="~{fragments/home/news :: news}"/>
        </main>
        <th:block th:insert="~{fragments/util/footer :: footer}"/>
        <th:block th:insert="~{fragments/scripts/scripts :: scripts}"/>
        <script th:src="@{/js/util/home.js}"></script>
    </body>
</html>