<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/heading/heading :: heading(title = 'Forgot Psassword')}"/>
<body>
<th:block th:replace="~{fragments/util/header :: header}"/>

<th:block th:replace="~{fragments/auth/forgotpassword :: forgotpassword}"/>

<th:block th:replace="~{fragments/util/footer :: footer(bottom = 0)}"/>

<th:block th:insert="~{fragments/scripts/scripts :: scripts}"/>
<script th:src="@{/js/auth/forgotPassword.js}"></script>
</body>
</html>