<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/heading/heading :: heading(title = 'Welcome to Seesaw')}"/>
<body>

<div class="container-fluid">
<div class="row justify-content-center align-items-center m-5">
    <div class="d-flex justify-content-center text-center flex-column col-6">
        <div class="title h4 text-uppercase">Login Google Success</div>

        <div>
            <div>
                Thank you for signing in with Google. Please press the button below to continue.
            </div>
        </div>

        <form action="/" method="post" class="form d-flex flex-column" id="formHandleLoginGoogle">
            <span class="e› pt-3 text-danger"></span>
            <div>
                <button type="submit" class="btn text-uppercase p-3 px-5 text-dark border-0 rounded-0"
                        style="background-color: #E3C5B8">Continue
                </button>
            </div>
        </form>
        <div class="actions d-flex justify-content-center align-items-center pt-4 gap-2">
            <a class="text-dark" href="/">Back</a>
        </div>
    </div>
</div>
</div>

<th:block th:insert="~{fragments/scripts/scripts :: scripts}"/>
<script th:src="@{/js/auth/handlerLoginGoogle.js}"></script>
</body>
</html>